{{ form_start(form) }}
    <div class="mb-4">
        {{ form_widget(form) }}
    </div>
    <button class="px-2 py-1 border border-gray-800 mb-3">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
