{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="text-xl mb-4">Ajouter un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="text-xl font-bold">Retour</a>
{% endblock %}
